b{
    font-weight: 600;
}
button{
    padding: 8px 8px;
    border-radius: 5px;
    border: none;
}
input{
    text-align: center;
    border-radius: 5px;
}
.global{
    top: 60px;
    display:flex;
    width:100vw;
    justify-content: space-around;
    background: #ffffff;
}
.button{
    width: 250px;
    display: grid;
    justify-content: center;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 60px!important;
    box-shadow: 0 0 5px 0.5px #D3D3D3; 
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #00008f !important;
}
label,input,button{
    margin: 6px 0;
}
.polList{
    margin: 0px 60px;
    display: grid;
    max-width: 450px;
    height: 260px;
    padding: 14px;
    overflow: auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    box-shadow: 0 0 5px 0.5px #D3D3D3;
}
.resultPol{
    margin: 6px;
    border-bottom: 1px dashed grey;
}
.results{
    margin-top: 10px;
    display: grid;
    height: 600px;
    justify-content: center;
}

.usInfo{
    margin: 40px 90px;
    border-radius: 5px;
    background-color: #f2f2f2;
    box-shadow: 0 0 5px 0.5px #D3D3D3;
    height: 180px;
    width: 375px;
    padding: 14px;
    display: grid;
}
