

<div class="global">
  <div class="button">
    <input [(ngModel)]="userName" type="text" name="userName" placeholder="User Name">
  <p *ngIf="failed" style="color: #e11721">This Name doesn't exist.</p>
   
    <button (click)="searchUserName()" class="btn btn-primary">Search by Name</button>
  </div>
  <div class="button">
    <input [(ngModel)]="userID" type="text" name="userID" placeholder="User ID">
    <button (click)="searchUserID()" class="btn btn-primary">Search by ID</button>
  </div>
  <div class="button">
    <input [(ngModel)]="uPolicies" type="text" name="userPols" placeholder="User Name">
    <button (click)="seUspol()" class="btn btn-primary">Search Policies list </button>
  </div>
  <div class="button">
    <input [(ngModel)]="policyId" type="text" name="policyId" placeholder="Policy ID">
    <button (click)="seByPolId()" class="btn btn-primary">Search by Policy ID</button>
  </div>
</div>
<div class=results>
  <div *ngIf="haveUser" class="usInfo">
    <p>ID: {{user.id}} </p>
    <p>Name: {{user.name}} </p>
    <p>Role: {{user.role}} </p>
    <p>Email: {{user.email}} </p>
  </div>

  <div *ngIf="haveArray" class="polList">
    <div class="resultPol" *ngFor="let element of arrayPol; index as i">
      <p>Email: {{element.email}}</p>
      <p>Policy ID: {{element.id}}</p>
      <p>Client ID: {{element.clientId}}</p>
      <p>Amount Insured :{{element.amountInsured}}</p>
      <p>Inception Date: {{element.inceptionDate}}</p>
      <p>Installment Payment: {{element.installmentPayment}}</p>
    </div>
  </div>
</div>