<div class="square">
  <div class="button">
    <input (keypress)="reset()" [(ngModel)]="userName" type="text" name="userName">
    <button (click)="SearchUserName()" class="btn btn-primary" placeholder="Name">Search by
      name</button>
      <p *ngIf="failedUser">User name doesn't exist</p>
  </div>
  <div class="button">
    <input (keypress)="reset()" [(ngModel)]="userID" type="text" name="userID">
    <button (click)="SearchUserID()" class="btn btn-primary" placeholder="ID">Search by ID</button>
    <p *ngIf="failedId">User ID doesn't exist</p>
  </div>
</div>

<div class="container">

  <div class="rBox" *ngIf="userExist">
    {{promiseVar.id}} <br>
    {{promiseVar.name}} <br>
    {{promiseVar.role}} <br>
    {{promiseVar.email}} <br>
  </div>
</div>