<div class="global">
  <div class="button">
    <input (keypress)="reset()" [(ngModel)]="userName" type="text" name="userName" placeholder="User Name">
    <p *ngIf="failedUser" style="color:#e11721">User name doesn't exist</p>
    <button (click)="SearchUserName()" class="btn btn-primary" placeholder="Name">Search by
      Name</button>

  </div>
  <div class="button">
    <input (keypress)="reset()" [(ngModel)]="userID" type="text" name="userID" placeholder="User ID">
    <p *ngIf="failedId" style="color:#e11721">User ID doesn't exist</p>
    <button (click)="SearchUserID()" class="btn btn-primary">Search by ID</button>

  </div>
</div>

<div class="infoUser">
  <div class="rBox" *ngIf="userExist">
    <p><b>ID:</b> {{promiseVar.id}} </p>
    <p><b>Name:</b> {{promiseVar.name}} </p>
    <p><b>Role:</b> {{promiseVar.role}} </p>
    <p><b>Email:</b> {{promiseVar.email}} </p>
  </div>
</div>