<div class="form-signin">
  <img class="mb-4" src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72"
    height="72">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="inputEmail" class="sr-only">User Name</label>
  <input (keypress)="reset()" [(ngModel)]="mail"  type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>
  <p *ngIf="failed" style="color:red">This user doesn't exist.</p>
  <button (click)="Submit()" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
</div>